:root{
    /* Add color variables here  */
    --background-color: hsl(0, 0%, 100%);
    --text-color: hsl(229, 8%, 60%);
    --white: white;
    --black: black;

    /* Project Colors */
    --soft-blue: hsl(231, 69%, 60%);
    --soft-red: hsl(0, 94%, 66%);
    --grayish-blue: hsl(229, 8%, 60%);
    --very-dark-blue: hsl(229, 31%, 21%);
}

