
/* Navbar Hamburger menu color - change RGB Values in url Link */
.navbar-light .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-light .navbar-toggler{
    border: none;
    padding-right: 0;
}

.hero .btn-danger{
    background-color: var(--soft-red) ;
}

.hero nav{
    text-transform: uppercase;
}

.hero .nav-item .nav-link{
    color: var(--very-dark-blue);  
}

