@use '../util/' as u;


.hero .btn-danger{
    background-color: var(--soft-red) ;
    padding: 0.25rem 1.25rem;
}

.hero nav{
    text-transform: uppercase;
    padding: 2rem 0;
    z-index: 3;
    align-items: center;
}

.hero .nav-item{
    @include u.respond-to("medium"){
        margin-left: 1.5rem;
    } 
}

.hero .nav-item .nav-link{
    color: var(--very-dark-blue);
}



/* Navbar Hamburger menu color - change RGB Values in url Link */
.navbar-light .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(37, 43, 70, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-light .navbar-toggler{
    border: none;
    padding-right: 0;
}

.mobile-nav-overlay{
    background-color: hsla(229, 31%, 21%, 0.90);
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    z-index: 4;
    display: none;

    &__menu{
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 3rem;
    }
    
    &__closer{
        
    
    }
    &__list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 2rem;

        &__item{
            width: 80%;
            padding: 1rem 0;
            border-top: 1px solid hsla(229, 8%, 60%, 0.4);
            text-align: center;
            color: var(--white);
            text-transform: uppercase;
            font-weight: 400;
            letter-spacing: 2px;
             


            &__button{
                width: 100%;
                background-color: transparent;
                color: var(--white);
                border: 2px solid var(--white);
                border-radius: 5px;
                padding: 0.5rem 0;
                letter-spacing: 2px;
                margin-top: 1rem;
            }
        }
        &__item a{
            color: var(--white);
        }
    }

    &__socials{
        position: absolute;
        bottom: 2rem;
        left: 50%;
        transform: translateX(-50%);    
        &__fb{
            margin-right: 2rem;
        }

    }

}

.mobile-nav-overlay-active{
    display: block;
}

.mobile-nav-hidden{
    display: none;
}


/* 
    TODO 
     1. Add mobile overlay
     2. Desktop design
     3. Email stuff

*/